# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django development settings
*.log
*.pot
*.pyc
db.sqlite3
media

# Static files
/staticfiles/

# Vue.js development
node_modules/
npm-debug.log
yarn-error.log
.DS_Store


# Compiled files
/dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv
.vscode

server_run.ps1
client_run.ps1