<div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="ub-champion-portrait"><img
                    src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/champion/Urgot.png" alt="Urgot"
                    class="img-responsive"></div>
        </div>
        <div class="col-md-9 col-sm-9">
            <h1 class="ub-data-set-title">
                NOOB
                <div class="float-end"><img src="/images/roles/support_icon.png" alt="Support" title="Support"
                        style="max-height: 80px;"></div>
            </h1>
            <p class="champion-name" style="font-size: 30px;">
                Urgot
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 col-sm-3">
            <div class="ub-spells-mastery">
                <div class="up-fist-spell-to-maximize">
                    <div class="up-fist-spell-to-maximize-img"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/spell/UrgotE.png" alt="Disdain"
                            title="Disdain" style="vertical-align: top; max-height: 64px;">
                        <div class="ub-fist-spell-key"><span>E</span></div>
                    </div>
                </div>
                <div class="ub-summoner-spells"><img
                        src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/spell/SummonerDot.png" alt="Ignite"
                        title="Ignite"><img
                        src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/spell/SummonerExhaust.png"
                        alt="Exhaust" title="Exhaust"></div>
            </div>
            <div class="ub-runes" style="display: flex; margin-top: 20px;">
                <div class="ub-runes-primary" style="display: flex; flex-direction: column; position: relative;">
                    <div class="ub-runes-progress domination">
                        <div></div>
                    </div>
                    <ul style="list-style-type: none; padding: 0px;">
                        <li>
                            <div>
                                <div title="Hail of Blades" style="width: 50px; height: 50px; margin: 0px auto;"><img
                                        src="/images/runes/9923.png" height="50" alt="Hail of Blades"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-domination)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div title="Taste of Blood" style="width: 35px; height: 35px; margin: 15px auto 0px;">
                                    <img src="/images/runes/8139.png" height="35" alt="Taste of Blood"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-domination)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div title="Ghost Poro" style="width: 35px; height: 35px; margin: 15px auto 0px;"><img
                                        src="/images/runes/8120.png" height="35" alt="Ghost Poro"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-domination)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div title="Ingenious Hunter" style="width: 35px; height: 35px; margin: 15px auto 0px;">
                                    <img src="/images/runes/8134.png" height="35" alt="Ingenious Hunter"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-domination)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ub-runes-secondary"
                    style="min-width: 50px; display: flex; margin-top: 50px; flex-direction: column; position: relative;">
                    <div class="ub-runes-progress inspiration">
                        <div></div>
                    </div>
                    <ul style="list-style-type: none; padding: 0px;">
                        <li>
                            <div>
                                <div title="Minion Dematerializer"
                                    style="width: 35px; height: 35px; margin: 15px auto 0px;"><img
                                        src="/images/runes/8316.png" height="35" alt="Minion Dematerializer"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-inspiration)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div title="Time Warp Tonic" style="width: 35px; height: 35px; margin: 15px auto 0px;">
                                    <img src="/images/runes/8352.png" height="35" alt="Time Warp Tonic"
                                        style="position: absolute;"> <svg viewBox="0 0 47 47" version="1.1"
                                        style="position: relative;">
                                        <circle cx="23.5" cy="23.5" r="22.5" stroke-width="2" fill="none"
                                            stroke="url(#gradient-inspiration)"></circle>
                                    </svg></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ub-rune-stats" style="margin-top: 50px;">
                    <div title="Adaptive Force (6 AD or 10 AP)"
                        style="width: 30px; height: 30px; margin: 15px auto 0px;"><img src="/images/rune-stats/5008.png"
                            height="30" alt="Adaptive Force (6 AD or 10 AP)" style="position: absolute;"></div>
                    <div title="Magic Resist (6 MR)" style="width: 30px; height: 30px; margin: 15px auto 0px;"><img
                            src="/images/rune-stats/5003.png" height="30" alt="Magic Resist (6 MR)"
                            style="position: absolute;"></div>
                    <div title="Armor (5 Armor)" style="width: 30px; height: 30px; margin: 15px auto 0px;"><img
                            src="/images/rune-stats/5002.png" height="30" alt="Armor (5 Armor)"
                            style="position: absolute;"></div>
                </div> <svg width="0" height="0">
                    <linearGradient id="gradient-precision" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#c8aa6e" offset="0%"></stop>
                        <stop stop-color="#aea789" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient id="gradient-domination" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#ca3e3f" offset="0%"></stop>
                        <stop stop-color="#dc4747" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient id="gradient-sorcery" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#9faafc" offset="0%"></stop>
                        <stop stop-color="#6c75f5" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient id="gradient-resolve" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#a1d586" offset="0%"></stop>
                        <stop stop-color="#a4d08d" offset="100%"></stop>
                    </linearGradient>
                    <linearGradient id="gradient-inspiration" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#49aab9" offset="0%"></stop>
                        <stop stop-color="#48b4be" offset="100%"></stop>
                    </linearGradient>
                </svg>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div>
                <div class="ub-items">
                    <div title="Plated Steelcaps" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3047.png"
                            alt="Plated Steelcaps"></div>
                    <div title="Eclipse" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/226692.png" alt="Eclipse">
                    </div>
                    <div title="Mikael's Blessing" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3222.png"
                            alt="Mikael's Blessing"></div>
                    <div title="Runaan's Hurricane" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3085.png"
                            alt="Runaan's Hurricane"></div>
                    <div title="Thornmail" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3075.png" alt="Thornmail">
                    </div>
                    <div title="Banshee's Veil" class="ub-item"><img
                            src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3102.png"
                            alt="Banshee's Veil"></div>
                </div>
                <div class="ub-role-item">
                    <div class="ub-items">
                        <div class="ub-item"><img
                                src="https://ddragon.leagueoflegends.com/cdn/13.18.1/img/item/3850.png"></div>
                    </div> <span id="startItemHint"
                        data-bs-original-title="You can build this item as your first.">Starter <i
                            class="fa fa-question-circle"></i></span>
                </div>
            </div>
            <div class="ub-share-bar mt-2"><button href="#" id="shareBtn" class="btn btn-dark"><i
                        class="fa fa-share"></i> Share
                    <!----></button> <button href="#" id="itemSetBtn" class="btn btn-dark"><i
                        class="fa fa-file-export"></i> Item Set
                    <!----></button></div> <!---->
        </div>
    </div>
</div>